.component {
  contain: '';
}

.commentsTreeHeader {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 35px;
}

.commentsSummary {
  text-decoration: none;
}

.commentsIcon {
  margin-right: 8px;
  margin-bottom: 2px;
}

.commentsSummary:visited {
  color:inherit;
}

.commentsSummary:hover {
  opacity: 0.5;
}

.commentsSort {
  display: flex;
}

.commentsSortRating {
  margin-left: 15px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid 1px rgb(0, 0, 0);
  position: relative;
}

.commentsSortRating::after {
  content:'';
  display: block;
}

.commentsSortRating:visited {
  color: inherit;
}

.commentsSortOrder {
  margin-left: 15px;
  text-decoration: none;
  border-bottom: solid 1px rgb(0, 0, 0);
  cursor: pointer;
}

.commentsSortOrder:visited {
  color: inherit;
}
