.swiper {
  
}

.swiperHeader {
  font-size: 28px;
  font-weight: 900;
}

.swiperContent {
  display: flex;
  padding-top: 30px;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x proximity;
}
