.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 48px;
  margin-right: 24px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  color: #3172f5;
  text-transform: uppercase;
  border: solid 1px #3172f5;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,.15);
  transition: 0.3s;
}

.loginButton:hover {
  background-color: #90b3fa;
  color: #ffffff;
}